* {margin:0; padding:0;}
.box {
	margin: 40px;
	.small {
		width: 36px;
		height: 24px;
		float: left;margin:0 20px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.s1{ background-image:url(../assets/images/1.png);  }
	.s2{background-image:url(../assets/images/2.png);}
	.s3{background-image:url(../assets/images/3.png);}
	.s4{background-image:url(../assets/images/4.png);}
	.s5{background-image:url(../assets/images/5.png);}
}
